:root{

    --mainColor:#252525;
    --secondaryColor:#555454;

    --borderColor:#c1c1c1;

    --mainText:#fff;
    --secondaryText:#b8bcbf;
 
    --themeDotBorder:#fff;
    --previewBg:rgba(24, 24, 24, 0.8);
    --previewShadow:#222222;

    --buttonColor:rgb(232, 232, 232);



}
